@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    font-size: 24px
}

h3 {
    color: hsl(186, 14%, 43%);
    padding: 12px 0;
    font-size: .65em;
    margin-top: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: relative;
    top: -40px;
    color: #36585a
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 375px;
    background-color: hsl(0, 0%, 100%);
    padding: 24px;
    border-radius: 20px 20px 0 0;
}

.calc {
    padding: 8px;
}
.input {
    display: block;
    width: 100%;
    font-family: 'Space Mono', monospace;
    height: 48px;
    border: none;
    border-radius: 4px;
    background-color: hsl(189, 41%, 97%);
    text-align: end;
    outline: none;
    color: hsl(183, 100%, 15%);
}

.input::placeholder {
    color: #36585a;
}

.bill {
    background-image: url(/images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 20px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px
}
.btn{
    font-family: 'Space Mono', monospace;
    font-size: .9em;
    height: 48px;
    border: none;
    border-radius: 6px;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    cursor:pointer;
}
.selected{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);    
}

.people {
    background-image: url(/images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 20px;
}
.total{
    display: flex;
    flex-direction: column;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    padding: 24px;
}
.perPerson{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.title{
    font-size: .65em;
    padding: 0 0 5px;
    color: hsl(0, 0%, 100%);
}
.subtitle{
    font-size: .6em;
    color: hsl(186, 14%, 43%);
}
.value{
    font-size: 1.3em;
    color: hsl(172, 67%, 45%);
}
.reset{
    margin-top: 20px;
}
@media (min-width: 780px){
    .container {
        flex-direction: row;
        max-width: 920px;
        border-radius: 20px;
    }
    .calc{
        width: 50%;
        margin-right: 12px;
    }
    .total{
        margin-left: 12px;
        width: 50%;
        justify-content: space-between;
    }
    .buttons{
        grid-template-columns: repeat(3, 1fr)
    }
}